= simple_form_for [@application, @collection] do |f|
  = f.error_notification
  - if f.object.errors.any?
    %ul
      - f.object.errors.full_messages.each do |msg|
        %li= msg
  .row
    .col-md-4
      .row.form-group.with_count
        .col-md-12
          = f.label :name_ru
          = f.input_field :name_ru, class: 'form-control characters-count-input'
        = render 'shared/characters_count', object_attribute: f.object.name_ru

      .row.form-group.with_count
        .col-md-12
          = f.label :name_en
          = f.input_field :name_en, class: 'form-control characters-count-input'
        = render 'shared/characters_count', object_attribute: f.object.name_en

      .row.form-group.with_count
        .col-md-12
          = f.label :description_ru
          = f.input_field :description_ru, as: :text, class: 'form-control characters-count-input'
        = render 'shared/characters_count', object_attribute: f.object.description_ru

      .row.form-group.with_count
        .col-md-12
          = f.label :description_en
          = f.input_field :description_en, as: :text, class: 'form-control characters-count-input'
        = render 'shared/characters_count', object_attribute: f.object.description_en

      .row.form-group
        .col-md-12
          = f.label :price
          = f.input_field :price, class: 'form-control'

      .row.form-group
        .col-md-12
          = f.label :product
          = f.input_field :product, class: 'form-control'

      .row.form-group
        .col-md-12
          = f.label :app_version
          = f.input_field :app_version, class: 'form-control'

      .row.form-group
        .col-md-12
          = f.label :printable
          = f.input_field :printable, as: :boolean, class: 'form-control'

      .row.form-group
        .col-md-12
          = f.label :hide
          = f.input_field :hide, as: :boolean, class: 'form-control'

    .col-md-8
      .row.form-group
        .col-md-12
          %h3 Files:
          .row.form-group
            .col-md-4
              = f.input :small_icon, as: :file
            .col-md-8
              #small_icon
                - if f.object.small_icon_file_name
                  = image_tag f.object.small_icon.url(:thumb), class: 'img-rounded'

          .row.form-group
            .col-md-4
              = f.input :small_icon_2, as: :file
            .col-md-8
              #small_icon_2
                - if f.object.small_icon_2_file_name
                  = image_tag f.object.small_icon_2.url(:thumb), class: 'img-rounded'
          .row.form-group
            .col-md-4
              = f.input :medium_icon, as: :file
            .col-md-8
              #medium_icon
                - if f.object.medium_icon_file_name
                  = image_tag f.object.medium_icon.url(:thumb), class: 'img-rounded'

          .row.form-group
            .col-md-4
              = f.input :medium_icon_2, as: :file
            .col-md-8
              #medium_icon_2
                - if f.object.medium_icon_2_file_name
                  = image_tag f.object.medium_icon_2.url(:thumb), class: 'img-rounded'
          .row.form-group
            .col-md-4
              = f.input :large_icon, as: :file
            .col-md-8
              #large_icon
                - if f.object.large_icon_file_name
                  = image_tag f.object.large_icon.url(:thumb), class: 'img-rounded'
          .row.form-group
            .col-md-4
              = f.input :large_icon_2, as: :file
            .col-md-8
              #large_icon_2
                - if f.object.large_icon_2_file_name
                  = image_tag f.object.large_icon_2.url(:thumb), class: 'img-rounded'
          .row.form-group
            .col-md-4
              = f.input :tmp1, as: :file
            .col-md-8
              %h4= @collection.tmp1_file_name

          .row.form-group
            .col-md-4
              = f.input :tmp2, as: :file
            .col-md-8
              %h4= @collection.tmp2_file_name

  .row.form-group
    .col-md-12
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', @application, class: 'btn btn-default'

