= simple_form_for [@application, @collection] do |f|
  = f.error_notification
  - if f.object.errors.any?
    %ul
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  .row.form-group
    .col-md-4
      = f.label :name_ru
      = f.input_field :name_ru, class: 'form-control'

  .row.form-group
    .col-md-4
      = f.label :name_en
      = f.input_field :name_en, class: 'form-control'

  .row.form-group
    .col-md-4
      = f.label :description_ru
      = f.input_field :description_ru, as: :text, class: 'form-control'

  .row.form-group
    .col-md-4
      = f.label :description_en
      = f.input_field :description_en, as: :text, class: 'form-control'

  .row.form-group
    .col-md-12
      = f.button :submit
      = link_to 'Cancel', @application, class: 'btn btn-default'

