.row
  .col-md-4
    %p
      %span.h4= 'Name ru: '
      = @collection.name_ru

    %p
      %span.h4= 'Name en: '
      = @collection.name_en

    %p
      %span.h4= 'Description ru: '
      = @collection.description_ru

    %p
      %span.h4= 'Description en: '
      = @collection.description_en

    %p
      %span.h4= 'Price: '
      = @collection.price

    %p
      %span.h4= 'Version: '
      = @collection.version

    %p
      %span.h4= 'Product: '
      = @collection.product

    %p
      %span.h4= 'App version: '
      = @collection.app_version

    %p
      %span.h4= 'Printable: '
      = @collection.printable? ? 'Yes' : 'No'

    %p
      %span.h4= 'Hide: '
      = @collection.hide? ? 'Yes' : 'No'
  .col-md-8
    .panel
      %h3= 'Icons:'
      .bs-example-images
        = image_tag @collection.small_icon.url(:thumb), class: 'img-rounded'
        = image_tag @collection.small_icon_2.url(:thumb), class: 'img-rounded'
        = image_tag @collection.medium_icon.url(:thumb), class: 'img-rounded'
        = image_tag @collection.medium_icon_2.url(:thumb), class: 'img-rounded'
        = image_tag @collection.large_icon.url(:thumb), class: 'img-rounded'
        = image_tag @collection.large_icon_2.url(:thumb), class: 'img-rounded'

= link_to 'Edit', edit_application_collection_path(@application, @collection), class: 'btn btn-default'
= link_to 'Back', @application, class: 'btn btn-link'
