<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @collection.price %>
</p>

<p>
  <strong>Name ru:</strong>
  <%= @collection.name_ru %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @collection.name_en %>
</p>

<p>
  <strong>Version:</strong>
  <%= @collection.version %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= @collection.description_ru %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @collection.description_en %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
