.row
  .col-md-6
    %p
      %h4= 'Price: '
      = @collection.price

    %p
      %span.h4= 'Name ru: '
      = @collection.name_ru

    %p
      %span.h4= 'Name en: '
      = @collection.name_en

    %p
      %span.h4= 'Description ru: '
      = @collection.description_ru

    %p
      %span.h4= 'Description en: '
      = @collection.description_en

    %p
      %span.h4= 'Version: '
      = @collection.version
  .col-md-6
    .panel
      %h3= 'Files:'
      %ul
        - @collection.attachments.each do |attachment|
          %li= attachment.file.file.original_filename

= link_to 'Edit', edit_application_collection_path(@application, @collection), class: 'btn btn-default'
= link_to 'Back', @application, class: 'btn btn-link'
