.row
  .col-xs-12.mt-20
    .title-control.pull-right.mb-10
      = link_to 'Create Collection', new_application_collection_path(@application), class: 'btn btn-default'

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= 'Name RU'
      %th= 'Description'
      %th= 'Hide'
      %th.thin-column= 'Size'
      %th.thin-column= 'Version'
      %th.thin-column= 'Actions'

  %tbody
    - @application.collections.each do |collection|
      %tr
        %td
          = link_to collection.name_ru, application_collection_path(@application, collection)
        %td= collection.description_ru
        %td= collection.hide? ? 'Yes' : 'No'
        %td.text-center= collection.size
        %td.text-center= collection.version
        %td.text-center
          .btn-group.btn-group-xs{ role: 'group' }
            %button.btn.btn-default.dropdown-toggle{ data: { toggle: 'dropdown' } }
              = 'Select'
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li= link_to 'Edit', edit_application_collection_path(@application, collection)
              %li= link_to 'Destroy', application_collection_path(@application, collection), method: :delete,
                class: 'bg-danger', data: { confirm: 'Are you sure?' }
