= simple_form_for(@application) do |f|
  = f.error_notification
  - if f.object.errors.any?
    %ul
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  .row.form-group
    .col-md-4
      = f.input_field :name, class: 'form-control'

  .row.form-group
    .col-md-12
      = f.button :submit
      = link_to 'Cancel', applications_path, class: 'btn btn-default'
