= simple_form_for(@application) do |f|
  = f.error_notification
  - if f.object.errors.any?
    %ul
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  .row.form-group
    .col-md-6
      = f.label :name
      = f.input_field :name, class: 'form-control'

  .row.form-group
    .col-md-3
      = f.input :certificate, as: :file
    .col-md-3
      %h4= @application.certificate_file_name

  .row.form-group
    .col-md-6
      = f.label :android_api_key
      = f.input_field :android_api_key, class: 'form-control'

  .row.form-group
    .col-md-6
      = f.label :technical_works
      = f.input_field :technical_works, class: 'form-control'
  .row.form-group
    .col-md-6
      = f.label :version_ios
      = f.input_field :version_ios, class: 'form-control'

  .row.form-group
    .col-md-6
      = f.label :version_android
      = f.input_field :version_android, class: 'form-control'

  .row.form-group
    .col-md-6
      = f.association :auto_responder, auto_responders: @autoresponders, label_method: :name, value_method: :id, prompt: "Choose a Auto Responder"

  .row.form-group
    .col-md-12
      = f.button :submit
      = link_to 'Cancel', applications_path, class: 'btn btn-default'
