.row.action-name-row-wrap
  .col-md-11
    %h1= @application.name
  .back-btn-col-wrap.mt-20
    = link_to 'Back', applications_path
  .container
    = render 'collection_table'
    = render 'effect_table'
    = render 'commercial_table'
