.row
  .col-md-4.mt-20
    %p
      %span.h4= 'Title RU: '
      = @commercial.title_ru
    %p
      %span.h4= 'Title EN: '
      = @commercial.title_en
    %p
      %span.h4= 'Description RU: '
      = @commercial.description_ru
    %p
      %span.h4= 'Description EN: '
      = @commercial.description_en

    - if @commercial.collection
      %p
        %span.h4= 'Collection:'
        = @commercial.collection.name_ru
    %p
      %span.h4= 'Price: '
      = @commercial.price
    %p
      %span.h4= 'Url: '
      = @commercial.url

  .col-md-8.panel
    .row.panel
      %h3= 'Icons:'
      = image_tag @commercial.image1.url(:thumb), class: 'img-rounded'
      = image_tag @commercial.image2.url(:thumb), class: 'img-rounded'

= link_to 'Edit', edit_application_commercial_path(@application, @commercial), class: 'btn btn-default'
= link_to 'Back', @application, class: 'btn btn-link'

