.container
  .col-md-offset-4.col-md-4
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-wrap
        .row
          = f.input :email, required: true, autofocus: true
          = f.input :password, required: true

        .row.form-group.col-md-12
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

        .row.form-group
          = f.button :submit, 'Sign in', class: 'btn-primary'
